<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<form action="/create">

    {% csrf_token %}

    name :        <input type="text" name="name" required>
    Father name : <input type="text" name="f_name" required>
    Mother name : <input type="text" name="m_name" required>
    Age  :        <input type="text" name="age" required>
    Save          <input type="submit" value="Save">
    Reset         <input type="reset" value="reset">

</form>

    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">f_name</th>
      <th scope="col">m_name</th>
        <th scope="col">age</th>
        <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
  {% for data in data %}
    <tr>
      <th scope="row">1</th>
      <td>{{data.name}}</td>
      <td>{{data.f_name}}</td>
      <td>{{data.m_name}}</td>
      <td>{{data.age}}</td>
      <td><a href="delete/{{data.id}}">Delete</a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</body>
</html>